:root {
    --color-green: #76b39d;
    --background-color: #cecece;
    --color-blue: #3d3692;
}

body {
    background-color: var(--background-color)
}

h1,
h2,
h3,
a {
    color: var(--color-green);

}

main>.container {
    padding: 15px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

#logo  {
    margin-top: 56px;
    width: 100%;
    padding: 5%;
}

.bg-fit-bits {

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/img/okara.jpg');
    background-size: cover;
    
}
.product {
    width: 100%;
    border: var(--color-green) 2px solid;
}

@media only screen and (max-width: 450px) {
    .product {
        width: 95%
    }
}

.glass-dark {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.bg-glass{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}